<div>
  <div *ngFor="let item of productsByCategory" style="max-width: 400px; ">
    <h2>{{item.category}}</h2>
    <div *ngFor="let product of item.products" class="card" style="display: flex;">
      <img [src]="product.image" class="card-img-top" alt="..." style="max-width: 100px; margin:0 auto;">
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.description}}</p>
        <p>{{product.price}}€</p>
        <button (click)= "comprar(product)" class="btn btn-primary">COMPRAR</button>
      </div>
    </div>
  </div>
</div>
